.custom-table .p-datatable-tbody > tr {
    height: 300 !important; /* מגדיל את השורה */
}

.custom-table .p-datatable-tbody > tr > td {
    padding: 20px !important; /* מוסיף רווחים */
    vertical-align: middle !important; /* ממקם את התוכן במרכז */
}

.custom-table img {
    width: 80px !important; 
    height: 80px !important; 
    border-radius: 10px !important;
}
.custom-row {
    height: 200px !important;  /* מגדיל את גובה השורה */
}
.cart-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.cart-table {
    flex: 1;
}

.cart-summary {
    width: 300px;
}
.cart-summary {
    width: 300px;
    align-self: flex-start; /* מוודא שהסיכום מתחיל מגובה הטבלה */
    margin-top: 60px; /* אפשר לשחק עם הערך הזה כדי להתאים לגובה המדויק */
}