.NavBarcss{
    background-color:rgb(167, 152, 72);
    font-size: large;
    color: #ff5722; /* צבע הטקסט */
    font-weight: bold;
   
}
.container{
    display: flex;
    justify-content: flex-end; /* ממקם את הכפתור בצד ימין */
    padding: 20px; /* שטח פנוי מסביב */
  }
  
  /* .side-button {
} */