/* styles.css */
.p-datatable .p-column-header .p-column-toggler.p-button {
    transform: rotate(180deg); /* סובב את החץ */
}

.p-datatable .p-column-toggler.p-button {
    transition: transform 0.2s ease; /* יצירת אנימציה */
}
.selected-btn {
    background-color: #d86f95 !important;
    color: white !important;
    border: none !important;
    font-weight: bold;
  }
  .p-button.selected-btn {
    background-color: #d86f95 !important;
    color: white !important;
    border: none !important;
  }  
